<% layout('layout') -%>
<% stylesheet('/stylesheets/eventlist2.css') -%>
<% stylesheet('/stylesheets/Common/bootstrap.min.css') -%>
<% script('/javascripts/Common/jquery-1.10.2.min.js') -%>
<% script('/javascripts/Common/bootstrap.min.js') -%>
<% script('/javascripts/Common/maki.js') -%>

<div class="main">
<div class="contenter">


<div class="event">

<h1>種目リスト一覧</h1>

<div id="carouselWrap">
    <p id="carouselPrev"><img src="/images/left.gif" alt="前へ" /></p>
    <p id="carouselNext"><img src="/images/right.gif" alt="次へ" /></p>
    <div id="carouse">
        <div id="carouselInner">
            <ul class="column">
                <li><a href="/result?eventID=1"><img src="/images/1_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=2"><img src="/images/2_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=3"><img src="/images/3_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=4"><img src="/images/4_icon.png" alt="" /></a></li>
            </ul>
            <ul class="column">
                <li><a href="/result?eventID=5"><img src="/images/5_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=6"><img src="/images/6_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=7"><img src="/images/7_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=8"><img src="/images/8_icon.png" alt="" /></a></li>
            </ul>
           <ul class="column">
                <li><a href="/result?eventID=9"><img src="/images/9_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=10"><img src="/images/10_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=11"><img src="/images/11_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=12"><img src="/images/12_icon.png" alt="" /></a></li>
            </ul>
           <ul class="column">
                <li><a href="/result?eventID=13"><img src="/images/13_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=14"><img src="/images/14_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=15"><img src="/images/15_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=16"><img src="/images/16_icon.png" alt="" /></a></li>
            </ul>
           <ul class="column">
                <li><a href="/result?eventID=17"><img src="/images/17_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=18"><img src="/images/18_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=19"><img src="/images/19_icon.png" alt="" /></a></li>
                <li><a href="/result?eventID=20"><img src="/images/20_icon.png" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>

</div>

<a class="btn btn-lg btn-primary" id="toTop">Topへ戻る</a>

</div>
</div><!--main-->
